@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Urbanist', 'sans-serif';
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-3deg); } /* 一开始和最后，元素会向左倾斜 -3° */
  50% { transform: rotate(3deg); } /* 动画进行到一半时，元素会向右倾斜 3° */
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite; /* 开始和结束时比较平滑，中间快 */
}

.animate-spin-slow {
  animation: spin 15s linear infinite;
}
